{% extends 'base.html' %}

{% block title %}URL Shortener{% endblock %}

{% block main %}
    
    <h1>
        URL Shortener
    </h1>    

    <form action="your-url" method="POST">
        <label for="url">
            Website URL
        </label>
        <br/>
        <input type="url" name="url" value="" required>
        <br/>
        <label for="code">
            Short Name
        </label>
        <br/>
        <input type="text" name="code" value="">

        <br/><br/>
        <input type="submit" value="Shorten" required>
    </form>

    <br/><br/>

    <form action="your-url" method="POST" enctype="multipart/form-data">
        <label for="file">
            File
        </label>
        <br/>
        <input type="file" name="file" value="" required>
        <br/>
        <label for="code">
            Short Name
        </label>
        <br/>
        <input type="text" name="code" value="">

        <br/><br/>
        <input type="submit" value="Shorten" required>
    </form>

    {% if codes %}
    <h2>
        Codes you have already created    
    </h2>

    <ul>
        {% for code in codes %}
        <a href="{{ url_for('redirect_to_url', code=code) }}">
            <li> {{ code }} </li>
        </a>
        {% endfor %}
    </ul>

    {% endif %}
{% endblock %}